body {
    font-family : "Helvetica", "sans-seriff" ;
}

/*****************************
HEADER
******************************/
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 10px 5px 10px;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}


/*****************************
SECTION
******************************/

section {
    /*position: absolute;*/
    width: 100%
    height: 100%;

    margin: 101px 0 20px 20px;
    overflow: scroll;
}


/*****************************
FOOTER
******************************/

footer {
    position: fixed;
    width: 100%;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    left: 0;
}


/*****************************
COLOR
******************************/

body{
    background: #eee;
}
header, footer{
    background: #93f;
}
a, a:visited {
    color: #000;
}
