{% extends "base.jinja2" %}
{% block body %}
   {% if request.authenticated_userid %}   
      <form action="{{ request.route_url('add') }}" method="POST" class="add">
      	    <label for="title">Title</label> <br>
    	    <input type="text" size="30" name="title" id="title"/><br>
	    <label for="text">Text</label><br>
	    <textarea name="text" id="text" rows="5" cols="80"></textarea><br>
      	    <input type="submit" value="Submit" name="edit"/>
   {% else %}
      <p>Please <a href="/login">log in</a> to add journal entries</p>
   {% endif %}
{% endblock %}

{% block nav %}
  <ul>
	 <li><a href="/">Home</a></li>
	 {% if request.authenticated_userid %}   
	 <li><a href="/logout">log out</a></li>
	 {% else %}
	 <li><a href="/login">log in</a></li>
   	 {% endif %}
   </ul>
{% endblock %}